<!DOCTYPE html>
<html th:replace="layout/masterLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">

<body class="bg-light">
<main role="main">

    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3>Department Form</h3>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/department/create-department}" th:object="${department}" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Code</label>
                                        <input type="text" class="form-control"
                                               th:field="*{code}"
                                               th:classappend="${#fields.hasErrors('code')} ? 'is-invalid'">
                                        <small th:if="${#fields.hasErrors('code')}"
                                               class="invalid-feedback" th:each="*{code}"></small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Name</label>
                                        <input type="text" class="form-control"
                                               th:field="*{name}"
                                               th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'">
                                        <small th:if="${#fields.hasErrors('name')}"
                                               class="invalid-feedback" th:each="*{name}"></small>
                                    </div>
                                </div>
                            </div>


                            <div class="mb-3">
                                <label class="form-label">Country</label>
                                <input type="text" class="form-control"
                                       th:field="*{country}"
                                       th:classappend="${#fields.hasErrors('country')} ? 'is-invalid'">
                                <small th:if="${#fields.hasErrors('country')}"
                                       class="invalid-feedback" th:each="*{country}"></small>
                            </div>
                            <input type="submit" value="Save Department" class="btn btn-primary w-100">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>